/* I M P O R T E D   O N   E V E R Y   S C S S   F I L E */
/*------  R E S P O N S I V E    L A Y O U T ------*/
/* 
  Must give the parent `display: flex; flex-wrap: wrap;`
  this mixin will make cards width responsive and dynamic
  !Important: give cards max-width if needed
*/
/*
  Another way but by doing this to the parent using `grid`
  !Important: give cards max-width if needed
*/
/* C O L O U R S */
/* G L O B A L */
/* S C R O L L    B A R */
#header__main,
#footer__main {
  display: none !important;
}

#header__sub,
#footer__sub {
  display: block !important;
}

/*FONT COLOR*/
h4,
h5,
p,
label,
span {
  color: #253242;
}

label {
  font-size: 16px;
  font-weight: 400;
}

.Bodytext {
  font-size: 16px;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: unset;
}
body header,
body main,
body footer {
  width: 100%;
}

main {
  flex: 1;
}
main .checkout-container {
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1200px) {
  main .checkout-container {
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 40px;
  }
}
main .checkout-container .customer-new {
  margin-bottom: 80px;
  display: none;
  width: 64%;
}
main .checkout-container .customer-new .user-checkout {
  overflow: hidden;
}
@media (max-width: 1200px) {
  main .checkout-container .customer-new {
    width: 100%;
  }
}
main .checkout-container .customer-new h4.b-b {
  padding-top: 60px;
  padding-bottom: 9px;
  margin-bottom: 27px;
}
main .checkout-container .customer-new h5 {
  margin-bottom: 10px;
}
main .checkout-container .customer-new .row {
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 576px) {
  main .checkout-container .customer-new .row {
    flex-direction: column;
    row-gap: 20px;
  }
}
main .checkout-container .customer-new label {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}
main .checkout-container .customer-new label input,
main .checkout-container .customer-new label select {
  max-width: unset;
}
main .checkout-container .customer-new label input[type=tel],
main .checkout-container .customer-new label input[type=email] {
  max-width: 473.98px;
}
main .checkout-container .customer-new__actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: unset;
}
main .checkout-container .customer-new .shipping-address {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
main .checkout-container .customer-logged {
  padding-top: 60px;
  margin-bottom: 80px;
}
main .checkout-container .customer-logged h4.b-b {
  padding-bottom: 10px;
  margin-bottom: 30px;
}
main .checkout-container .customer-logged__address {
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  main .checkout-container .customer-logged__address {
    flex-direction: column;
    row-gap: 20px;
  }
}
main .checkout-container .customer-logged__address--billing, main .checkout-container .customer-logged__address--shipping {
  white-space: nowrap;
  line-height: 22px;
  font-weight: 400;
}
main .checkout-container .customer-logged__address--billing h4, main .checkout-container .customer-logged__address--shipping h4 {
  margin-bottom: 15px;
}
main .checkout-container .customer-logged__address--billing button, main .checkout-container .customer-logged__address--shipping button {
  margin-top: 15px;
  padding: 0;
  border: 0;
}
main .checkout-container .customer-logged__address--billing button:hover, main .checkout-container .customer-logged__address--shipping button:hover {
  text-decoration: underline;
}
main .checkout-container .customer-logged__shipping-method {
  margin-bottom: 40px;
}
main .checkout-container .customer-logged__shipping-method .row {
  width: 100%;
  justify-content: space-between;
}
main .checkout-container .customer-logged__shipping-method .row span {
  font-weight: 400;
}
main .checkout-container .customer-logged__payment-method {
  margin-bottom: 40px;
}
main .checkout-container .customer-logged__payment-method .payment-method-wrapper {
  margin-bottom: 20px;
}
main .checkout-container .customer-logged__payment-method .payment-method-wrapper:last-of-type {
  margin-bottom: 0;
}
main .checkout-container .customer-logged__payment-method .payment-method-wrapper img {
  max-height: 25px;
  margin-left: 40px;
}
main .checkout-container .customer-logged__payment-method .payment-method-wrapper label {
  width: 50%;
}
main .checkout-container .customer-logged__payment-method .payment-method-wrapper label:has(input[type=text]) input {
  max-width: 426px;
  width: 100%;
}
@media (max-width: 768px) {
  main .checkout-container .customer-logged__payment-method .payment-method-wrapper label:has(input[type=text]) {
    width: 100%;
  }
  main .checkout-container .customer-logged__payment-method .payment-method-wrapper label:has(input[type=text]) input {
    max-width: unset;
    width: 100%;
  }
}
main .checkout-container .customer-logged__payment-method .payment-method-wrapper .row {
  width: 100%;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 768px) {
  main .checkout-container .customer-logged__payment-method .payment-method-wrapper .row {
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  main .checkout-container .customer-logged__payment-method .payment-method-wrapper .row label:first-of-type {
    margin-bottom: 0;
  }
  main .checkout-container .customer-logged__payment-method .payment-method-wrapper .row label:has(input[type=text], select) {
    width: 100%;
  }
  main .checkout-container .customer-logged__payment-method .payment-method-wrapper .row label:has(input[type=text], select) input {
    max-width: unset;
  }
}
main .checkout-container .customer-logged__payment-method .payment-method-wrapper .row .select-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: unset;
}
main .checkout-container .customer-logged__payment-method .payment-method-wrapper .row .select-row select {
  width: 100%;
}
@media (max-width: 768px) {
  main .checkout-container .customer-logged__payment-method .payment-method-wrapper .row .select-row select {
    width: 50%;
    max-width: unset;
  }
}
main .checkout-container .customer-logged__promo-code {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  main .checkout-container .customer-logged__promo-code label .row {
    width: 100%;
  }
  main .checkout-container .customer-logged__promo-code label .row input {
    max-width: unset;
    width: 100%;
  }
}
main .checkout-container .customer-logged__order-comments {
  margin-bottom: 40px;
}
main .checkout-container .customer-logged p:last-of-type {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  main .checkout-container .customer-logged button[type=submit] {
    width: 100%;
    max-width: unset;
  }
}
main .checkout-container .account {
  width: 64%;
}
@media (max-width: 1200px) {
  main .checkout-container .account {
    width: 100%;
  }
}
main .checkout-container .account h4.b-b {
  padding-top: 60px;
  padding-bottom: 9px;
  margin-bottom: 27px;
}
main .checkout-container .account .account__container {
  -moz-column-gap: 40px;
       column-gap: 40px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  main .checkout-container .account .account__container {
    -moz-column-gap: 12px;
         column-gap: 12px;
    flex-direction: column;
    row-gap: 40px;
  }
}
main .checkout-container .account .account__container__sign-in {
  width: calc(50% - 20px);
}
@media (max-width: 768px) {
  main .checkout-container .account .account__container__sign-in {
    width: 100%;
  }
}
main .checkout-container .account .account__container__sign-in h5 {
  margin-bottom: 10px;
}
main .checkout-container .account .account__container__sign-in label {
  position: relative;
  margin-bottom: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
main .checkout-container .account .account__container__sign-in label:last-of-type {
  margin-bottom: 60px;
}
main .checkout-container .account .account__container__sign-in label a {
  position: absolute;
  right: 0;
}
main .checkout-container .account .account__container__sign-in label a:hover {
  text-decoration: underline;
}
main .checkout-container .account .account__container__sign-in button {
  margin-bottom: 30px;
}
main .checkout-container .account .account__container__customer-new {
  width: calc(50% - 20px);
}
@media (max-width: 768px) {
  main .checkout-container .account .account__container__customer-new {
    width: 100%;
  }
}
main .checkout-container .account .account__container__customer-new h4 {
  margin-bottom: 10px;
}
main .checkout-container .account .account__container__customer-new ul {
  margin-bottom: 30px;
  width: 100%;
}
main .checkout-container .account .account__container__customer-new ul p {
  margin-bottom: 10px;
}
main .checkout-container .account .account__container__customer-new ul li {
  list-style: disc;
  list-style-position: inside;
}
main .checkout-container .shopping-cart {
  /*STICKY*/ /* Safari */
  position: sticky;
  top: 0;
  align-self: flex-start;
  /*BOX*/
  width: 36%;
  height: 100vh;
  max-width: 566px;
  background-color: #edf0fa;
  padding: 60px 30px;
}
@media (max-width: 1024px) {
  main .checkout-container .shopping-cart {
    position: relative;
    height: auto;
  }
}
@media (max-width: 1200px) {
  main .checkout-container .shopping-cart {
    width: 100%;
    max-width: unset;
  }
}
@media (max-width: 768px) {
  main .checkout-container .shopping-cart {
    padding: 30px 15px;
  }
}
main .checkout-container .shopping-cart .row {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
main .checkout-container .shopping-cart .row:last-of-type {
  margin-bottom: 0;
}
main .checkout-container .shopping-cart .row:first-of-type {
  padding-bottom: 10px;
  margin-bottom: 30px;
}
main .checkout-container .shopping-cart .row.b-b {
  padding-bottom: 10px;
  margin-bottom: 30px;
}
main .checkout-container .shopping-cart .row figure {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: unset;
}
main .checkout-container .shopping-cart .row figure img {
  height: 52px;
}
main .checkout-container .shopping-cart .row .col {
  text-align: right;
}
main .checkout-container .shopping-cart .row .col button {
  padding: 0;
}
main .checkout-container .shopping-cart .row .col button:hover {
  text-decoration: underline;
}

.customer-new,
.account {
  display: none;
}/*# sourceMappingURL=checkout.css.map */