@import url('https://p.typekit.net/p.css?s=1&k=efy2clj&ht=tk&f=8485.8486.8487&a=79893205&app=typekit&e=css');

@font-face {
    font-family: 'adobe-caslon-pro';
    src: url('https://use.typekit.net/af/d7062a/000000000000000000012d66/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/d7062a/000000000000000000012d66/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
            format('woff'),
        url('https://use.typekit.net/af/d7062a/000000000000000000012d66/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
            format('opentype');
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: 'adobe-caslon-pro';
    src: url('https://use.typekit.net/af/68efc1/000000000000000000012d69/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/68efc1/000000000000000000012d69/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
            format('woff'),
        url('https://use.typekit.net/af/68efc1/000000000000000000012d69/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}

@font-face {
    font-family: 'adobe-caslon-pro';
    src: url('https://use.typekit.net/af/8c23a7/000000000000000000012d6a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/8c23a7/000000000000000000012d6a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3')
            format('woff'),
        url('https://use.typekit.net/af/8c23a7/000000000000000000012d6a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3')
            format('opentype');
    font-display: auto;
    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
}
/*
    .tk-adobe-caslon-pro {
        font-family: 'adobe-caslon-pro', serif;
    }
*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;500;600;700&display=swap');

/* H E A D I N G     F O N T */
$calson: 'adobe-caslon-pro', serif;
$poppins: 'Poppins', serif;
$inter: 'Inter', serif;
