/* F O N T */

/* C O L O U R S */

/* G L O B A L */
/*
    $body-bg: #fff6f0;
    $container-max-width: 1500px;
*/

/* S C R O L L    B A R */
/*
    $scrollbar-width: 6px;
    $scrollbar-track-color: #e7e7e7;
    $scrollbar-thumb-radius: 21px;
    $scrollbar-thumb-color: #ca8370;
    $scrollbar-thumb-hover-color: #ca8370;
*/
