/* C O L O U R S */
$Secondary: #f26d21;
$Primary: #253242;
$Icons: #434343;
$Text: #191919;
$Disabled: #b7b7b7;
$SubdueText: #747474;
$Warning: #efce4a;
$White: #ffffff;
$BorderOutline: #f1f1f1;
$Success: #85b040;
$SecondaryHovered: #d4550c;
$Background: #b9c8d9;
$Background2: #dfe8f2;
$Background3: #ecf1f7;

/* G L O B A L */
$body-bg: #ffffff;
$container-max-width: 1560px;

/* S C R O L L    B A R */
$scrollbar-width: 6px;
$scrollbar-track-color: #747474;
$scrollbar-thumb-radius: 21px;
$scrollbar-thumb-color: #253242;
$scrollbar-thumb-hover-color: #4c6583;
