/* L A B E L */
label {
  /*BOX*/
  @include flex(flex-start, flex-start, column, unset, 13px);
  margin-bottom: 30px;
  &:last-of-type {
    margin-bottom: 0;
  }
  position: relative;
  /******************************************/
  /* I N V A L I D */
  .invalid {
    display: none;
    position: absolute;
    top: 80px;
    color: red;
    @include respond-to(lg) {
      font-size: 12px;
    }
  }
  /*FONT*/
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  white-space: nowrap;
  /*APPEARANCE*/
  color: #191919;
}

/******************************************/
/* I N P U T */
input {
  /*FONT*/
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  /*BOX*/
  width: 100%;
  // height: 56px;
  height: 48px;
  border: 1px solid #e1e1e1;
  padding-left: 20px;
  max-width: 370px;
  /*APPEARANCE*/
  background: #ffffff;
  color: #000;
  &::placeholder {
    color: #747474;
  }
}

input[type='radio'] {
  /*BOX*/
  width: 13px;
  height: 13px;
  /*APPEARANCE*/
  accent-color: $Secondary;
}

label:has(input[type='checkbox'], input[type='radio']) {
  @include flex(flex-start, center, row, 6px);
  input {
    /*BOX*/
    width: 18px;
    height: 18px;
    padding-left: 16px;
    /*APPEARANCE*/
    &:checked {
      appearance: $Secondary;
    }
  }
}
label:has(input[type='checkbox']) {
  @include flex(flex-start, center, row, 6px);
  white-space: normal;

  input {
    /*BOX*/
    width: 18px;
    height: 18px;
    /*APPEARANCE*/
    &:checked {
      appearance: none;
      background-color: $Secondary;
      background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2981 3.41971L12.305 2.74513C12.1732 2.65589 12.0115 2.6224 11.8551 2.65198C11.6988 2.68155 11.5604 2.77178 11.4704 2.90298L6.60205 10.0808L4.36507 7.84439C4.25247 7.73244 4.10015 7.66961 3.94137 7.66961C3.7826 7.66961 3.63028 7.73244 3.51768 7.84439L2.66642 8.69454C2.5543 8.80761 2.49139 8.96039 2.49139 9.11962C2.49139 9.27885 2.5543 9.43163 2.66642 9.5447L6.10691 12.9846C6.29965 13.1774 6.60261 13.3241 6.8751 13.3241C7.14759 13.3241 7.4223 13.1536 7.59953 12.896L13.4581 4.2527C13.5024 4.18752 13.5333 4.11425 13.5492 4.03709C13.5651 3.95993 13.5657 3.88038 13.5508 3.80302C13.5359 3.72565 13.506 3.65197 13.4626 3.5862C13.4192 3.52043 13.3633 3.46385 13.2981 3.41971Z" fill="white"/></svg>');
      background-size: 18px 18px;
      background-position: center;
    }
  }
}
/******************************************/
/* S E L E C T */
select {
  /*APPEARANCE*/
  appearance: none;
  background-image: url('data:image/svg+xml,<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.385766 1.09499C0.277571 0.982132 0.217969 0.83133 0.219766 0.674994C0.219766 0.513994 0.274766 0.369994 0.385766 0.252994C0.436947 0.198124 0.49887 0.154371 0.567684 0.124455C0.636498 0.0945394 0.710731 0.0791016 0.785766 0.0791016C0.860801 0.0791016 0.935034 0.0945394 1.00385 0.124455C1.07266 0.154371 1.13458 0.198124 1.18577 0.252994L8.21977 7.65299L15.2548 0.252994C15.3059 0.198124 15.3679 0.154371 15.4367 0.124455C15.5055 0.0945394 15.5797 0.0791016 15.6548 0.0791016C15.7298 0.0791016 15.804 0.0945394 15.8728 0.124455C15.9417 0.154371 16.0036 0.198124 16.0548 0.252994C16.2748 0.485994 16.2748 0.862994 16.0548 1.09499L8.61977 8.91499C8.56866 8.97 8.50677 9.01387 8.43794 9.04387C8.36912 9.07387 8.29484 9.08935 8.21977 9.08935C8.14469 9.08935 8.07042 9.07387 8.00159 9.04387C7.93277 9.01387 7.87087 8.97 7.81977 8.91499L0.385766 1.09499Z" fill="%23646464"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 9px;
  /*BOX*/
  width: 100%;
  max-width: 370px;
  // padding: 11px 36px 11px 10px;
  padding: 9px 36px 9px 10px;
  border: 1px solid #e1e1e1;
  /* FONT */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

option {
  /* FONT */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

textarea {
  /*BOX*/
  height: 150px;
  width: 100%;
  max-width: unset;
  padding: 10px 20px;
  display: block;
  resize: vertical;
  min-height: 50px;
  border: 1px solid #e1e1e1;
  /*COLORS*/
  background: #fff;
  color: #000;
  /*FONT*/
  font-size: inherit;
  font-family: inherit;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.invalid-input {
  color: red;
}
