button {
  cursor: pointer;
  padding: 10px 30px;
  @include respond-to(md) {
    padding: 10px 20px;
  }
}

.button--secondary {
  background-color: #f26d21;
  color: #fff !important;
  a {
    color: #fff !important;
  }
  &:hover {
    background-color: #d85d17;
  }
}

.button--primary {
  background-color: #253242;
  color: #fff !important;
  a {
    color: #fff !important;
  }
  &:hover {
    background-color: #192129;
  }
}

.button--ghost {
  border: 1px solid #253242;
  color: $Primary !important;
  a {
    color: $Primary !important;
  }
}

.button--secondary--ghost {
  border: 1px solid #f26d21 !important;
  color: #f26d21 !important;
  &:hover {
    color: #d85d17 !important;
  }
}

.button--primary--ghost {
  border: 1px solid #253242 !important;
  color: #253242 !important;
  &:hover {
    color: #192129 !important;
  }
}
