@import '../../helper.scss';

/* M A I N    S T Y L E */
#main-section {
  .details {
    margin-bottom: 40px;
    label {
      @include flex(flex-start, flex-start, row, 10px);
      margin: 0 !important;
      font-weight: 500 !important;
      font-size: 16px !important;
      span {
        display: block;
        font-weight: 400;
        font-size: 16px;
        color: #253241;
      }
    }
  }
  h2 {
    padding: 0 !important;
  }
  table {
    width: 100%;
    margin-bottom: 40px;
    &:first-of-type {
      thead {
        @include respond-to(md) {
          display: none;
        }
        tr th {
          &:nth-of-type(4) {
            width: 1%;
          }
          &:last-of-type {
            text-align: right;
          }
          @include respond-to(md) {
            &:nth-of-type(1) {
              width: auto;
            }
            &:nth-of-type(2) {
              width: auto;
            }
          }
        }
      }
      tbody tr {
        @include respond-to(md) {
          position: relative;
          display: block;
          padding: 15px;
          padding-left: 110px;
        }
        td {
          &:first-of-type {
            width: 126px;

            img {
              mix-blend-mode: darken;
              height: auto;
              max-height: 126px;
              width: auto;
              max-width: 100%;
              margin: 0 auto;
              display: block;
            }
          }
          &:nth-of-type(2) {
            @media (min-width: 1124px) {
              width: 45%;
            }
            span,
            a {
              display: block;
              white-space: nowrap;
              @include respond-to(xxl) {
                white-space: normal;
              }
            }
          }
          &:nth-of-type(4) {
            text-align: center;
            @include respond-to(md) {
              text-align: left;
            }
          }
          &:last-of-type {
            text-align: right;
            @include respond-to(md) {
              display: none;
            }
          }
          @include respond-to(md) {
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            position: relative;
            width: 100%;
            height: 100%;
            font-size: 14px;
            * {
              font-size: 14px;
            }
            &:first-of-type {
              left: 15px;
              position: absolute;
              padding: 0;
              visibility: visible;
              width: 75px;
            }
          }
        }
      }
      tfoot {
        @include respond-to(md) {
          display: table;
          width: 100%;
        }
      }
    }

    &:last-of-type {
      margin-bottom: 0;
      thead tr th:last-of-type {
        width: 50%;
        @include respond-to(sm) {
          width: auto;
        }
      }
    }

    thead {
      background: #f2f5f9;

      tr {
        th {
          text-transform: uppercase;
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 14px;
          padding: 9px 15px;
          text-align: left;
          vertical-align: middle;
          @include respond-to(xxl) {
            &:nth-of-type(1) {
              width: 15%;
            }
            &:nth-of-type(2) {
              width: 50%;
            }
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-of-type(even) {
          background: #f2f5f9;
        }
        td {
          padding: 20px 15px;
          font-size: 16px;
          * {
            font-size: 16px;
          }
        }
      }
    }
    tfoot {
      tr {
        td {
          text-align: right;
          padding: 5px 15px;
          font-size: 16px;
        }
        &:first-of-type td {
          padding-top: 20px;
        }
        &:last-of-type td {
          padding-bottom: 20px;
          width: 15%;
        }
      }
    }
  }
}
